<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="../../css/output.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container mx-auto flex h-screen items-center justify-center px-4">
			<form class="mx-auto">
				<div class="mb-5">
					<label for="email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
						>Eメール</label
					>
					<input
						type="email"
						id="email"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:shadow-sm-light dark:focus:border-blue-500 dark:focus:ring-blue-500"
						placeholder="name@showU.com"
						required
					/>
				</div>
				<div class="mb-5">
					<label for="password" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
						>パスワード</label
					>
					<input
						type="password"
						id="password"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:shadow-sm-light dark:focus:border-blue-500 dark:focus:ring-blue-500"
						required
					/>
				</div>
				<div class="mb-5">
					<label
						for="repeat-password"
						class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
						>パスワードの再入力</label
					>
					<input
						type="password"
						id="repeat-password"
						class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:shadow-sm-light dark:focus:border-blue-500 dark:focus:ring-blue-500"
						required
					/>
				</div>

				<button
					type="submit"
					class="rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
				>
					アカウントを作成
				</button>
			</form>
		</div>

		<script src="/node_modules/flowbite/dist/flowbite.min.css"></script>
	</body>
</html>
